<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">

    <title>Dashboard</title>

</head>

<body>
    <section id="container" class="">
        {% block mainbody %}
        <header class="header dark-bg">
            <nav class="navbar navbar-inverse" role="navigation">
                <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/profile">Dashboard</a>
                </div>
                <div>
                    <ul class="nav navbar-nav">
                        <!-- <li class="active"><a href="/manufacturer-report">Manufacturer Report</a></li>-->
                        <li class="active"><a href="/manga-ranking">Manga Rankings</a></li>
                    </ul>
                </div>
                </div>
            </nav>
        </header>
        <section id="main-content">
            <br>
            <br>
            <br>

            <p>dashboard</p>
            <p>{{user["name"]}}</p>


        </section>
       {% endblock %}
    </section>



</body>

</html>
