<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">

    <title>Dashboard</title>

</head>

<body>
    <section id="container" class="">
        {% block mainbody %}
        <header class="header dark-bg">
            <nav class="navbar navbar-inverse" role="navigation">
                <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Dashboard</a>
                </div>
                <div>
                    <ul class="nav navbar-nav">
                        <!-- <li class="active"><a href="/manufacturer-report">Manufacturer Report</a></li>
                        <li class="active"><a href="/category-report">Category Report</a></li>
                        <li class="active"><a href="/ac-groundhog">Groundhog Day Sales</a></li>
                        <li class="active"><a href="/store_rev_by_year_by_state">Store Revenue by Year by State</a></li>
                        <li class="active"><a href="/maintain_holidays">Maintain Holidays</a></li>
                        <li class="active"><a href="/membership-trends-report">Membership Reports</a></li>
                        <li class="active"><a href="/actual-vs-predicted-revenue">Actual Versus Predicted Revenue</a></li>
                        <li class="active"><a href="/revenuebypopulation">Revenue By Population</a></li>
                        <li class="active"><a href="/statewithhighestvolumeforeachcategory">State With Highest Volume For Each Category</a></li>
                        <li class="active"><a href="/update-population">Update Population</a></li> -->
                    </ul>
                </div>
                </div>
            </nav>
        </header>
        <section id="main-content">
            <br>
            <br>
            <br>

            <p>dashboard</p>
            <p>{{user["name"]}}</p>

        </section>
       {% endblock %}
    </section>



</body>

</html>
