<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">

    <title>Dashboard</title>

</head>

<body>
    <section id="container" class="">
        {% block mainbody %}
        <header class="header dark-bg">
            <nav class="navbar navbar-inverse" role="navigation">
                <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Dashboard</a>
                </div>

                </div>
            </nav>
        </header>
        <section id="main-content">
            <br>
            <br>
            <br>

            <p>This is the MAL authentication login page. Click on the link below to authenticate, Then copy url and place in input and submit.</p>
            <p><a href={{url}} target="_blank">Go authenticate</a></p>
            <form action="/" method="post">

                <input type="text" id="key" name = "key" value = "key">
                <button type="submit"> Confirm </button>
            </form>
        </section>
       {% endblock %}
    </section>



</body>

</html>
